.login-container {
    position: absolute;
    width: 320px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: 2px var(--text-color) solid;
    padding: 25px 5px;
    border-radius: 15px;
}

.inputField {    
    width: 260px;
    margin: 10px 0px;
}

.inputField label 
{

}

.inputField input , #email {
    width: 250px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 10px;
}
.inputField input:focus{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.inputField input::placeholder{
    color: var(--text-color);
}
.btn-login{
width: 260px;
height: 50px;
margin: 20px 0px;
border-radius: 10px;
border: none;
font-size: 18px;
}
.btn-login:focus{
    background-color: var(--primary-color);
    color: var(--text-color); 
    border: 2px var(--text-color) solid;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow: hidden;
}

 a{
    color: var(--accent-color);
    text-decoration: none;
    font-size: 13px;
}