<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../global/global.css">
    <link rel="stylesheet" href="singup.css">
</head>

<body>
        <div id="login-container" class="login-container">
        <h2>Sign Up</h2>
        <form id="login-form">
            <div class="inputField">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Email@email.com" required>
            </div>
            <div class="inputField">
                <label for="password">Password:             </label>
                <input type="password" id="password" placeholder="Password" required></input>
            </div>
            <button type="button" class="btn-login">Sign Up</button>
        </form>
        <div class="details-login">
            <a href="../Login/login.html">Already have an Account?</a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/ef882f519f.js" crossorigin="anonymous"></script>
</body>

</html>