:root {
  --primary-color: #3b4252;
  --secondary-color: #2e3440;
  --accent-color: #1c7ed6;
  --side-color: #434c5e;
  --light-color: #232831;
  --text-color: #e6edf3;
  --white-text-color:#e6edf3;
  --side-color:#232831;
}