:root {
  --primary-color: #ffffff;
  --secondary-color: #e6edf3;
  --accent-color: #1c7ed6;
  --light-color: #e6edf3;
  --text-color: #36393f;
  --white-text-color:#e6edf3;
  --side-color:#232831;
}